.container__rows { display: flex; flex-direction: column; }
.container__cols { display: flex; flex-direction: row; }
.row { flex: 1; }
.col { flex: 1; }
.container--wrap { flex-wrap: wrap; }
.container--wrap > .col { flex: 1 0 auto; }
