html, body {
  height: 100%;
}

div {
  background: #e4e4e4;
  border: 1px solid gray;
}

pre {
  background: #fff;
}

.row, .col {
  padding: 20px;
}

.container {
  padding: 0;
  height: 100%;
  display: flex;
  border: none;
  background: #fff;
}

.container__rows { flex-direction: column; }
.container__cols { flex-direction: row; }
.row { flex: 1; }
.col { flex: 1 0 auto; }
